[Unit]
Description=PITS Tracker Service
 
[Service]
ExecStart=/home/pi/pits/tracker/startup >> /home/pi/log/startup.log 2>&1
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=tracker.service
